$bg-color: linear-gradient(to bottom, #0f0c29, #24243e);

$title-color: #DDD;
$text-color: #aaa;
$white-color: #fff;

$font-color-dark: #2A2D34;

$title-size: 48px;
$subtitle-size: 32px;
$text-size: 18px;

$max-width: 768px !important;

$color-primary: #1493a3;
$color-secondary: #dcb139;


