@import '../../assets/style.scss';

.skills {
  overflow: hidden;
}

.skills__container {
  max-width: $max-width;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.skills__title {
  font-size: $subtitle-size;
  color: $white-color;
}

.skills__type {
  padding: 0;
  margin-left: 25px;

  .skills__list {
    margin-top: 20px;
    position: relative;
    font-size: 20px;
    color: $text-color;

    &::before {
      content: '';
      position: absolute;
      left: -25px;
      width: 16px;
      height: 16px;
      background-image: url('../../assets/img/check.png');
      background-size: cover;
    }
  }
}
