@import '../../assets/style.scss';

.footer {
  padding-bottom: 30px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social__links {
  margin-right: 25px;
}

.footer-social__img {
  width: 30px;
  height: 30px;

  &:hover {
    filter: brightness(0) saturate(100%) invert(77%) sepia(73%) saturate(495%) hue-rotate(342deg)
      brightness(91%) contrast(88%);
  }
}
